background

.center {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 580;
    font-size: 64px;
    line-height: 300px;
}

.centerall {
    height: auto;
}

.login {
    text-align: center;
    position: absolute;
}

.login_button {
    box-sizing: border-box;
 
    position: absolute;
    left: 70px;
    top: 270px;
    color: #FFFFFF; 
    cursor: pointer;      
    font-size: 20px;
    max-width: 300px;
    padding: 11px;
    width: 230px;
    height: 45px;
    font-family: 'Roboto', sans-serif;

    background-color: #628755;
    border: 1px solid #628755;    
    border-radius: 7px;
}

.login_button:disabled {
    background-color: #8a8a8a;
    color: #ffffff;
    border: 1px solid #eee;        
    cursor: auto;
}

.aviso {
    position: absolute;

    width: 300px;

    left: 38px;
    top: 207px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color:darkred;
}

::-webkit-input-placeholder {
    color: rgb(155, 155, 155);
}

.center_user {
    box-sizing: border-box;

    position: absolute;
    width: 300px;
    height: 30px;
    left: calc(50% - 300px/2);
    top: calc(43% - 30px/2 - 23.5px);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;

    background: #C9C9C9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #c9c9c9;    
    border-radius: 8px;
}

.center_senha {
    box-sizing: border-box;

    position: absolute;
    width: 300px;
    height: 30px;
    left: calc(50% - 300px/2);
    top: calc(50% - 49px/2 + 12.5px);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;

    background: #C9C9C9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #C9C9C9;    
    border-radius: 8px;

}

.icon_hide {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 305px;
    top: 184px;     
}

.box {
    position: absolute;
    width: 370px;
    height: 380px;
    left: 470px;
    top: 150px;
    
    background: #FFFFFF;
    box-shadow: 5px 7px 7px 6px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    overflow:hidden;
}

.circulo_claro {
    position: absolute;
    width: 1313px;
    height: 1313px;
    left: -230px;
    top: 50px;
    border-radius: 50%;

    background: #f7f7f7;
}

.circulo_escuro {
    position: absolute;
    width: 1313px;
    height: 1313px;
    top: 200px;
    left: -100px;
    border-radius: 50%;

    background: #EDEDED;
}

.icon {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 590px;
    top: 100px;
    border-radius: 50%;
    
    background: #628755;
}

.icon img {
    width: 70px;
    height: 70px;
    filter: invert(100%);
    position: absolute;
    left: 25px;
    top: 25px;    
}
